<!DOCTYPE html>
<html lang="en" ng-app>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Calculator</title>
   <link rel="stylesheet" href="cal.css">
   <script data-require="angular.js@1.0.7" data-semver="1.0.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
   <script src= "calculator.js"></script>
</head>
<body>
   <h1>AngularJS calculator</h1>
    <div ng-controller="CalculatorCtrl">
      <table>
        <tr>
          <td>a =</td>
          <td><input ng-model="a"></td>
          <td>
            <button class="command" ng-click="inca()">+1</button>
            <button class="command" ng-click="deca()">-1</button>
          </td>
        </tr>
        <tr>
          <td>b =</td>
          <td><input ng-model="b"></td>
          <td>
            <button class="command" ng-click="incb()">+1</button>
            <button class="command" ng-click="decb()">-1</button>
          </td>
        </tr>
        <tr>
          <td>operation:</td>
          <td>
            <select ng-model="operation">
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="*">*</option>
              <option value="/">/</option>
            </select>
          </td>
        </tr>
      </table>
      <b class="result">{{na()}} {{operation}} {{nb()}} = {{calculate()}}</b>
    </div>
</body>
</html>